BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AlignConsecutiveDeclarations: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: BeforeColon
AllowAllConstructorInitializersOnNextLine: false
